# Ignore configuration files that may contain sensitive information.
.DS_Store
.git
.vagrant
*.sql
build/node_modules/
build/src/
build/dist/media/
build/gulpfile.js
build/package-lock.json
build/package.json
build/tsconfig.json
.zip
build/.gulp/
upload/
.idea
#*.mp4
#build/
pic/created/*
font/
upload/
